absl
absl_py-2.1.0.dist-info
adal
adal-1.2.7.dist-info
addict
addict-2.4.0.dist-info
aiohttp
aiohttp-3.9.5.dist-info
aiosignal
aiosignal-1.3.1.dist-info
annotated_types
annotated_types-0.7.0.dist-info
antlr4
antlr4_python3_runtime-4.9.3.dist-info
anyio
anyio-4.4.0.dist-info
argcomplete
argcomplete-3.4.0.dist-info
argon2
argon2_cffi-23.1.0.dist-info
_argon2_cffi_bindings
argon2_cffi_bindings-21.2.0.dist-info
arrow
arrow-1.3.0.dist-info
asttokens
asttokens-2.4.1.dist-info
async_lru
async_lru-2.0.4.dist-info
async_timeout
async_timeout-4.0.3.dist-info
attr
attrs
attrs-23.2.0.dist-info
azure
azure_common-1.1.28.dist-info
azure_core-1.30.2.dist-info
azure_graphrbac-0.61.1.dist-info
azure_mgmt_authorization-4.0.0.dist-info
azure_mgmt_containerregistry-10.3.0.dist-info
azure_mgmt_core-1.4.0.dist-info
azure_mgmt_keyvault-10.3.0.dist-info
azure_mgmt_network-25.4.0.dist-info
azure_mgmt_resource-23.1.1.dist-info
azure_mgmt_storage-21.2.1.dist-info
azureml
azureml-0.2.7.dist-info
azureml_core-1.56.0.dist-info
babel
Babel-2.15.0.dist-info
backports
backports.tempfile-1.0.dist-info
backports.weakref-1.0.post1.dist-info
bcrypt
bcrypt-4.1.3.dist-info
beautifulsoup4-4.12.3.dist-info
bleach
bleach-6.1.0.dist-info
blinker
blinker-1.8.2.dist-info
Brotli-1.1.0.dist-info
_brotli.cpython-310-x86_64-linux-gnu.so
brotli.py
bs4
bs4-0.0.2.dist-info
cachetools
cachetools-5.3.3.dist-info
certifi
certifi-2024.6.2.dist-info
cffi
cffi-1.16.0.dist-info
_cffi_backend.cpython-310-x86_64-linux-gnu.so
charset_normalizer
charset_normalizer-3.3.2.dist-info
click
click-8.1.7.dist-info
cmake
cmake-3.29.5.1.dist-info
colorama
colorama-0.4.6.dist-info
comm
comm-0.2.2.dist-info
ConfigArgParse-1.7.dist-info
configargparse.py
contextlib2
contextlib2-21.6.0.dist-info
cryptography
cryptography-42.0.8.dist-info
cv2
cycler
cycler-0.12.1.dist-info
Cython
Cython-3.0.10.dist-info
cython.py
dash
dash-2.17.1.dist-info
dash_core_components
dash_core_components-2.0.0.dist-info
dash_html_components
dash_html_components-2.0.0.dist-info
dash_table
dash_table-5.0.0.dist-info
dateutil
dateutil-stubs
debugpy
debugpy-1.8.1.dist-info
decorator-5.1.1.dist-info
decorator.py
defusedxml
defusedxml-0.7.1.dist-info
deprecate
descartes
descartes-1.1.0.dist-info
_distutils_hack
distutils-precedence.pth
dns
dnspython-2.6.1.dist-info
docker
docker-7.1.0.dist-info
dotenv
email_validator
email_validator-2.2.0.dist-info
exceptiongroup
exceptiongroup-1.2.1.dist-info
executing
executing-2.0.1.dist-info
fastapi
fastapi-0.111.0.dist-info
fastapi_cli
fastapi_cli-0.0.4.dist-info
fastjsonschema
fastjsonschema-2.20.0.dist-info
filelock
filelock-3.15.3.dist-info
fire
fire-0.6.0.dist-info
flask
flask-3.0.3.dist-info
fontTools
fonttools-4.53.0.dist-info
fqdn
fqdn-1.5.1.dist-info
frozenlist
frozenlist-1.4.1.dist-info
fsspec
fsspec-2024.6.0.dist-info
functorch
gmpy2
gmpy2-2.1.5.dist-info
google
grpc
grpcio-1.64.1.dist-info
h11
h11-0.14.0.dist-info
httpcore
httpcore-1.0.5.dist-info
httptools
httptools-0.6.1.dist-info
httpx
httpx-0.27.0.dist-info
huggingface_hub
huggingface_hub-0.23.4.dist-info
humanfriendly
humanfriendly-10.0.dist-info
hydra
hydra_core-1.3.2.dist-info
idna
idna-3.7.dist-info
imageio
imageio-2.34.1.dist-info
importlib_metadata
importlib_metadata-7.1.0.dist-info
ipykernel
ipykernel-6.29.4.dist-info
ipykernel_launcher.py
IPython
ipython-8.25.0.dist-info
ipywidgets
ipywidgets-8.1.3.dist-info
isodate
isodate-0.6.1.dist-info
isoduration
isoduration-20.11.0.dist-info
isympy.py
itsdangerous
itsdangerous-2.2.0.dist-info
jedi
jedi-0.19.1.dist-info
jeepney
jeepney-0.8.0.dist-info
jinja2
jinja2-3.1.4.dist-info
jmespath
jmespath-1.0.1.dist-info
joblib
joblib-1.4.2.dist-info
json5
json5-0.9.25.dist-info
jsonpickle
jsonpickle-3.2.2.dist-info
jsonpointer-3.0.0.dist-info
jsonpointer.py
jsonschema
jsonschema-4.22.0.dist-info
jsonschema_specifications
jsonschema_specifications-2023.12.1.dist-info
jupyter-1.0.0.dist-info
jupyter_client
jupyter_client-8.6.2.dist-info
jupyter_console
jupyter_console-6.6.3.dist-info
jupyter_core
jupyter_core-5.7.2.dist-info
jupyter_events
jupyter_events-0.10.0.dist-info
jupyterlab
jupyterlab-4.2.2.dist-info
jupyterlab_plotly
jupyterlab_pygments
jupyterlab_pygments-0.3.0.dist-info
jupyterlab_server
jupyterlab_server-2.27.2.dist-info
jupyterlab_widgets
jupyterlab_widgets-3.0.11.dist-info
jupyter_lsp
jupyter_lsp-2.2.5.dist-info
jupyter.py
jupyter_server
jupyter_server-2.14.1.dist-info
jupyter_server_terminals
jupyter_server_terminals-0.5.3.dist-info
jwt
kiwisolver
kiwisolver-1.4.5.dist-info
knack
knack-0.11.0.dist-info
kneed
kneed-0.8.5.dist-info
kornia
kornia-0.7.2.dist-info
kornia_rs
kornia_rs-0.1.3.dist-info
lazy_loader
lazy_loader-0.4.dist-info
lightning
lightning-2.3.0.dist-info
lightning_fabric
lightning_utilities
lightning_utilities-0.11.2.dist-info
lit
lit-18.1.7.dist-info
markdown
Markdown-3.6.dist-info
markdown_it
markdown_it_py-3.0.0.dist-info
markupsafe
MarkupSafe-2.1.5.dist-info
matplotlib
matplotlib-3.5.3.dist-info
matplotlib-3.5.3-py3.10-nspkg.pth
matplotlib_inline
matplotlib_inline-0.1.7.dist-info
mdurl
mdurl-0.1.2.dist-info
mistune
mistune-3.0.2.dist-info
modules-1.0.0.dist-info
modules.py
mpl_toolkits
mpmath
mpmath-1.3.0.dist-info
msal
msal-1.29.0.dist-info
msal_extensions
msal_extensions-1.2.0.dist-info
msrest
msrest-0.7.1.dist-info
msrestazure
msrestazure-0.6.4.dist-info
multidict
multidict-6.0.5.dist-info
multipart
nacl
nbclient
nbclient-0.10.0.dist-info
nbconvert
nbconvert-7.16.4.dist-info
nbformat
nbformat-5.10.4.dist-info
ndg
ndg_httpsclient-0.5.1.dist-info
nest_asyncio-1.6.0.dist-info
nest_asyncio.py
networkx
networkx-3.3.dist-info
nibabel
nibabel-5.2.1.dist-info
notebook
notebook-7.2.1.dist-info
notebook_shim
notebook_shim-0.2.4.dist-info
nuimages
numpy
numpy-1.24.4.dist-info
numpy.libs
nuscenes
nuscenes_devkit-1.1.11.dist-info
nvidia
nvidia_cublas_cu11-11.10.3.66.dist-info
nvidia_cublas_cu12-12.1.3.1.dist-info
nvidia_cuda_cupti_cu11-11.7.101.dist-info
nvidia_cuda_cupti_cu12-12.1.105.dist-info
nvidia_cuda_nvrtc_cu11-11.7.99.dist-info
nvidia_cuda_nvrtc_cu12-12.1.105.dist-info
nvidia_cuda_runtime_cu11-11.7.99.dist-info
nvidia_cuda_runtime_cu12-12.1.105.dist-info
nvidia_cudnn_cu11-8.5.0.96.dist-info
nvidia_cudnn_cu12-8.9.2.26.dist-info
nvidia_cufft_cu11-10.9.0.58.dist-info
nvidia_cufft_cu12-11.0.2.54.dist-info
nvidia_curand_cu11-10.2.10.91.dist-info
nvidia_curand_cu12-10.3.2.106.dist-info
nvidia_cusolver_cu11-11.4.0.1.dist-info
nvidia_cusolver_cu12-11.4.5.107.dist-info
nvidia_cusparse_cu11-11.7.4.91.dist-info
nvidia_cusparse_cu12-12.1.0.106.dist-info
nvidia_nccl_cu11-2.14.3.dist-info
nvidia_nccl_cu12-2.20.5.dist-info
nvidia_nvjitlink_cu12-12.5.40.dist-info
nvidia_nvtx_cu11-11.7.91.dist-info
nvidia_nvtx_cu12-12.1.105.dist-info
oauthlib
oauthlib-3.2.2.dist-info
omegaconf
omegaconf-2.3.0.dist-info
open3d
open3d-0.18.0.dist-info
opencv_python-4.10.0.84.dist-info
opencv_python.libs
OpenSSL
orjson
orjson-3.10.5.dist-info
overrides
overrides-7.7.0.dist-info
packaging
packaging-24.1.dist-info
pandas
pandas-2.2.2.dist-info
pandocfilters-1.5.1.dist-info
pandocfilters.py
paramiko
paramiko-3.4.0.dist-info
parso
parso-0.8.4.dist-info
pathspec
pathspec-0.12.1.dist-info
PIL
pillow-10.3.0.dist-info
pillow.libs
pip
pip-24.0.dist-info
pip-24.0-py3.12.egg-info
pip-24.0.virtualenv
pip_search
pip_search-0.0.12.dist-info
pkginfo
pkginfo-1.11.1.dist-info
pkg_resources
platformdirs
platformdirs-4.2.2.dist-info
plotly
plotly-5.22.0.dist-info
_plotly_future_
_plotly_utils
ply
ptyprocess
ptyprocess-0.7.0.dist-info
pure_eval
pure_eval-0.2.2.dist-info
pyasn1
pyasn1-0.6.0.dist-info
__pycache__
pycocotools
pycocotools-2.0.8.dist-info
pycparser
pycparser-2.22.dist-info
pydantic
pydantic-2.7.4.dist-info
pydantic_core
pydantic_core-2.18.4.dist-info
pydensecrf
pydensecrf-1.0.dist-info
pyDeprecate-0.3.2.dist-info
pydevd_plugins
pygments
pygments-2.18.0.dist-info
PyJWT-2.8.0.dist-info
pylab.py
PyNaCl-1.5.0.dist-info
pyOpenSSL-24.1.0.dist-info
pyparsing
pyparsing-3.1.2.dist-info
pyquaternion
pyquaternion-0.9.9.dist-info
PySocks-1.7.1.dist-info
python_dateutil-2.9.0.post0.dist-info
python_dotenv-1.0.1.dist-info
pythonjsonlogger
python_json_logger-2.0.7.dist-info
python_multipart-0.0.9.dist-info
pytorch_lightning
pytorch_lightning-1.9.5.dist-info
pytz
pytz-2024.1.dist-info
pyximport
PyYAML-6.0.1.dist-info
pyzmq-26.0.3.dist-info
pyzmq.libs
qtconsole
qtconsole-5.5.2.dist-info
qtpy
QtPy-2.4.1.dist-info
README.rst
README.txt
referencing
referencing-0.35.1.dist-info
requests
requests-2.32.3.dist-info
requests_oauthlib
requests_oauthlib-2.0.0.dist-info
retrying-1.3.4.dist-info
retrying.py
rfc3339_validator-0.1.4.dist-info
rfc3339_validator.py
rfc3986_validator-0.1.1.dist-info
rfc3986_validator.py
rich
rich-13.7.1.dist-info
rpds
rpds_py-0.18.1.dist-info
safetensors
safetensors-0.4.3.dist-info
scikit_image-0.24.0.dist-info
scikit_learn-1.5.0.dist-info
scikit_learn.libs
scipy
scipy-1.13.1.dist-info
scipy.libs
seaborn
seaborn-0.13.2.dist-info
secretstorage
SecretStorage-3.3.3.dist-info
Send2Trash-1.8.3.dist-info
setuptools
setuptools-70.0.0.dist-info
setuptools-70.0.0-py3.12.egg-info
setuptools-70.0.0.virtualenv
shapely
Shapely-1.8.5.post1.dist-info
shapely-2.0.4.dist-info
Shapely.libs
shellingham
shellingham-1.5.4.dist-info
six-1.16.0.dist-info
six.py
skimage
sklearn
sniffio
sniffio-1.3.1.dist-info
sockshandler.py
socks.py
soupsieve
soupsieve-2.5.dist-info
stack_data
stack_data-0.6.3.dist-info
starlette
starlette-0.37.2.dist-info
sympy
sympy-1.12.1.dist-info
tabulate
tabulate-0.9.0.dist-info
tenacity
tenacity-8.4.1.dist-info
tensorboard
tensorboard-2.17.0.dist-info
tensorboard_data_server
tensorboard_data_server-0.7.2.dist-info
tensorboardX
tensorboardX-2.6.2.2.dist-info
termcolor
termcolor-2.4.0.dist-info
terminado
terminado-0.18.1.dist-info
threadpoolctl-3.5.0.dist-info
threadpoolctl.py
tifffile
tifffile-2024.6.18.dist-info
timm
timm-1.0.7.dist-info
tinycss2
tinycss2-1.3.0.dist-info
tomli
tomli-2.0.1.dist-info
torch
torch-2.3.1.dist-info
torchaudio-2.3.1.dist-info
torchgen
torchmetrics
torchmetrics-1.4.0.post0.dist-info
torchvision
torchvision-0.18.1.dist-info
torchvision.libs
tornado
tornado-6.4.1.dist-info
tqdm
tqdm-4.66.4.dist-info
traitlets
traitlets-5.14.3.dist-info
triton
triton-2.3.1.dist-info
typer
typer-0.12.3.dist-info
types_python_dateutil-2.9.0.20240316.dist-info
typing_extensions-4.12.2.dist-info
typing_extensions.py
tzdata
tzdata-2024.1.dist-info
ujson-5.10.0.dist-info
ujson.cpython-310-x86_64-linux-gnu.so
uri_template
uri_template-1.3.0.dist-info
urllib3
urllib3-2.2.2.dist-info
uvicorn
uvicorn-0.30.1.dist-info
uvloop
uvloop-0.19.0.dist-info
_virtualenv.pth
_virtualenv.py
watchfiles
watchfiles-0.22.0.dist-info
wcwidth
wcwidth-0.2.13.dist-info
webcolors
webcolors-24.6.0.dist-info
webencodings
webencodings-0.5.1.dist-info
websocket
websocket_client-1.8.0.dist-info
websockets
websockets-12.0.dist-info
werkzeug
werkzeug-3.0.3.dist-info
wget-3.2.dist-info
wget.py
wheel
wheel-0.43.0.dist-info
wheel-0.43.0.virtualenv
widgetsnbextension
widgetsnbextension-4.0.11.dist-info
yaml
yarl
yarl-1.9.4.dist-info
zipp
zipp-3.19.2.dist-info
zmq
